<div class="container">
  <h1 class="title text-center">ORDER HISTORY</h1>
  <table class="table table-hover text-center">
    <thead>
    <tr>
      <th scope="col">Order #</th>
      <th scope="col">Order Date</th>
      <th scope="col">Placed By</th>
      <th scope="col">Reviewed By</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><i class="fas fa-check"></i></td>
      <td><button class="btn btn-success">View Details</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td><i class="fas fa-clock"></i></td>
      <td><button class="btn btn-success">View Details</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td><i class="fas fa-times"></i></td>
      <td><button class="btn btn-success">View Details</button></td>
    </tr>
    </tbody>
  </table>
</div>
