<div class="container">
    <!--  Content Row-->
    <h1 class="title text-center">ORDER HISTORY</h1>
    <div class="row">
        <div class="col">
            <!-- Content Column-->
            <div>
                <div class="loading-overlay" *ngIf="!dataSource">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="Order number">
                        <th mat-header-cell *matHeaderCellDef> Order number</th>
                        <td mat-cell *matCellDef="let order "> {{order.idOrder}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Date of Order">
                        <th mat-header-cell *matHeaderCellDef> Date of Order</th>
                        <td mat-cell *matCellDef="let order "> {{order.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Placed By">
                        <th mat-header-cell *matHeaderCellDef> Placed By</th>
                        <td mat-cell *matCellDef="let order "> {{order.idUser}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Reviewed By">
                        <th mat-header-cell *matHeaderCellDef> Reviewed By</th>
                        <td mat-cell *matCellDef="let order "> {{order.idReviewer}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Note">
                        <th mat-header-cell *matHeaderCellDef> Note </th>
                        <td mat-cell *matCellDef="let order "> {{order.note}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let order "> {{order.status}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="onOrderSelected(row)" data-toggle="modal" data-target="#orderHistoryModal"
                        *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <!-- Modal -->
            <div *ngIf="hasSelection()" class="modal fade bd-example-modal-lg" id="orderHistoryModal" tabindex="-1" role="dialog"
                 aria-labelledby="orderHistoryModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><b> Customize Order {{currentOrder.idOrder}}</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form">
                                <h5><b>Order Summary</b></h5>
                                <h6></h6>
                                <div class="form-group">
                                    <label>Select a jean type to edit</label>
                                    <table class="table table-hover">
                                        <tr *ngFor="let orderjean of orderedJeans;" (click)="changeReadonly(false)">
                                            <td>{{orderjean.jean.productCode}}</td>
                                            <td>{{orderjean.jean.styleName}}</td>
                                        </tr>
                                    </table>
                                    <button *ngIf="count != 0" (click)="changePage('minus')">min</button>
                                    <button (click)="changePage('plus')">plus</button>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal" (click)="changeReadonly(true)">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
