<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-4 m-4 mt-5 rounded-sm background">
      <div class="form-group">
        <form class="">
          <h2 class="text-center">Inloggen</h2>

          <div id="loginPopup">
            <div id="loginText"></div>
          </div>

          <div class="form-group input-group">
            <div class="input-group-append">
              <span class="input-group-text"> <i class="fa fa-user"></i></span>
            </div>
            <input type="text" name="email" class="form-control" placeholder="Enter email" id="email">
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" name="password" class="form-control" placeholder="Enter password" id="password">
          </div>

          <div class="">
            <button type="submit" class="btn btn-primary button-size">Login</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
