<main class="d-flex align-items-center min-vh-100 py-3 py-md-3 background">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters login-card">
        <div class="col-md-5">
          <img src="assets/images/login.png" class="login-card-img" alt="">
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="assets/images/logo-mud.png" alt="logo" class="logo">
            </div>
            <p class="login-title pt-3">Sign into your account</p>
            <form class="pb-3" (ngSubmit)="onSubmit()" #f="ngForm">
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email Address" id="email"
                       [(ngModel)]="user.email" #emailComponent=ngModel required email>
              </div>

              <div class="form-group mb-4">
                <input type="password" name="password" class="form-control" placeholder="**********" id="password"
                       [(ngModel)]="user.password" #passwordComponent="ngModel" required>
              </div>

              <div *ngIf="!emailComponent.valid && emailComponent.touched && !errorMessage"
                   class="alert alert-danger">Please enter a valid Email address</div>
              <div *ngIf="errorMessage" id="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

              <div class="">
                <button type="submit" id="login-button" class="btn btn-block button-size mb-4"
                        [disabled]="!f.valid">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
