<!-- End of Topbar -->
<div class="container">
  <h2 class="text-center">Customize Existing Order</h2>

  <div class="dropdown">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Order #</th>
        <th scope="col">Order Date</th>
        <th scope="col">Order Time</th>
        <th scope="col">Placed By</th>
      </tr>
      </thead>
      <tbody>
      <tr data-toggle="modal" data-target="#orderModal">
        <th scope="row">1</th>
        <td>03/09/2020</td>
        <td>16:59 PM</td>
        <td>Eva</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>06/10/2020</td>
        <td>14:03 PM</td>
        <td>Dion</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>01/11/2020</td>
        <td>18:03 PM</td>
        <td>Mark</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModal"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>Customize Order #1</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form">
          <div class="form-group row">
            <label for="orderNumber" class="col-lg-4 col-form-label">Order number</label>
            <div class="col-lg-8">
              <input type="text" readonly class="form-control" id="orderNumber" value="1">
            </div>
          </div>
          <div class="form-group row">
            <label for="orderDate" class="col-lg-4 col-form-label">Order Date</label>
            <div class="col-lg-8">
              <input type="text" readonly class="form-control" id="orderDate" value="03/09/2020">
            </div>
          </div>
          <div class="form-group row">
            <label for="orderTime" class="col-lg-4 col-form-label">Order Time</label>
            <div class="col-lg-8">
              <input type="text" readonly class="form-control" id="orderTime" value="16:59 PM">
            </div>
          </div>
          <div class="form-group row">
            <label for="placedBy" class="col-lg-4 col-form-label">Placed By</label>
            <div class="col-lg-8">
              <input type="text" readonly class="form-control" id="placedBy" value="Eva">
            </div>
          </div>
          <hr>
          <h5><b>Order Summary</b></h5>
          <div class="form-group">
            <label for="selectJean">Select one or multiple jeans to edit</label>
            <button type="button" id="showFullOrder"
                    class="btn btn-outline-primary float-right m-2" (click)="showAllInfo()">Show full order
            </button>
            <select multiple class="form-control" id="selectJean" onchange="ShowInfo()">
              <option>W28 L30 - 20x</option>
              <option>W28 L32 - 30x</option>
              <option>W29 L30 - 17x</option>
              <option>W29 L32 - 23x</option>
            </select>
          </div>
          <div id="information" style="display: none">
            <div class="row" id="title">
              <div class="col-4">
                <b>Jean Size</b>
              </div>
              <div class="col-8">
                <b>Amount</b>
              </div>
              <br>
            </div>
            <div class="form-group row">
              <label for="W28L30" class="col-lg-4 col-form-label">W28 L30</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="W28L30" value="20">
              </div>
            </div>
            <div class="form-group row">
              <label for="W28L32" class="col-lg-4 col-form-label">W28 L32</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="W28L32" value="30">
              </div>
            </div>
            <div class="form-group row">
              <label for="W29L30" class="col-lg-4 col-form-label">W29 L30</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="W29L30" value="17">
              </div>
            </div>
            <div class="form-group row">
              <label for="W29L32" class="col-lg-4 col-form-label">W29 L32</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="W29L32" value="23">
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Close</button>
        <button type="button" class="btn btn-primary" id="editBtn"
                style="display: none">Save Changes
        </button>
        <button id="deleteButton" type="button" (click)="deleteInfo()" class="btn btn-danger">Delete
        </button>
      </div>
    </div>
  </div>
</div>
