<div class="container">
    <h2 class="text-center">Customize Existing Order</h2>
    <div>
        <div>
            <mat-form-field>
                <input id="inputfield" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"/>
            </mat-form-field>
        </div>
        <div class="loading-overlay" *ngIf="!dataSource">
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Order Id">
                <th mat-header-cell *matHeaderCellDef> Order Id</th>
                <td mat-cell *matCellDef="let order"> {{order.idOrder}} </td>
            </ng-container>

            <ng-container matColumnDef="Order Date">
                <th mat-header-cell *matHeaderCellDef> Order Date</th>
                <td mat-cell *matCellDef="let order"> {{order.date}} </td>
            </ng-container>

            <ng-container matColumnDef="Order Message">
                <th mat-header-cell *matHeaderCellDef> Order Message</th>
                <td mat-cell *matCellDef="let order"> {{order.note}} </td>
            </ng-container>

            <ng-container matColumnDef="Placed By">
                <th mat-header-cell *matHeaderCellDef> Placed By</th>
                <td mat-cell *matCellDef="let order"> {{order.idUser}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="onOrderSelected(row)" data-toggle="modal" data-target="#orderModal"
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 40]" showFirstLastButtons></mat-paginator>

    </div>
</div>

<div *ngIf="hasSelection()" class="modal fade bd-example-modal-lg" id="orderModal" tabindex="-1" role="dialog"
     aria-labelledby="orderModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b> Customize Order {{currentOrder.idOrder}}</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <h5><b>Order Summary</b></h5>
                    <h6></h6>
                    <div class="form-group">
                        <label>Select a jean type to edit</label>
                        <table class="table table-hover">
                            <tr *ngFor="let orderjean of orderedJeans;" (click)="changeReadonly(false)">
                                <td>{{orderjean.jean.productCode}}</td>
                                <td>{{orderjean.jean.styleName}}</td>
                                <td><input class="quantity" type="number" [readOnly]="readOnly" value="{{orderjean.quantity}}" (input)="orderjean.quantity = $event.target.value"></td>
                            </tr>
                        </table>
<!--                        <button class="buttons btn btn-primary" *ngIf="count != 0" (click)="changePage('minus')">min</button>-->
<!--                        <button class="buttons btn btn-primary" (click)="changePage('plus')">plus</button>-->
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-caret-left fa-2x p-3" *ngIf="count != 0" (click)="changePage('minus')"></i>
                                <i class="fas fa-caret-right fa-2x p-3" (click)="changePage('plus')"></i>
                            </div>

                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal" (click)="changeReadonly(true)">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save(true)"> Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
