<div class="container">
  <h2 class="text-center">Pending Orders</h2>
  <div class="dropdown">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Order #</th>
        <th scope="col">Order Date</th>
        <th scope="col">Order Time</th>
        <th scope="col">Placed By</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr data-toggle="modal" data-target="#orderModal">
        <th scope="row" >1</th>
        <td>03/09/2020</td>
        <td>16:59 PM</td>
        <td>Eva</td>
        <td><i class="fas fa-clock"></i></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>06/10/2020</td>
        <td>14:03 PM</td>
        <td>Dion</td>
        <td><i class="fas fa-clock"></i></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>01/11/2020</td>
        <td>18:03 PM</td>
        <td>Mark</td>
        <td><i class="fas fa-times"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <img class="logo-title" src="assets/images/logo-mud.png">
          <b> Customize Order #1</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="orderNumber" class="col-lg-4 col-form-label">Order number</label>
            <div class="col-lg-8">
              <input type="text" readonly class="form-control" id="orderNumber" value="1">
            </div>
          </div>
          <div class="form-group row">
            <label for="orderDate" class="col-lg-4 col-form-label">Order Date</label>
            <div class="col-lg-8">
              <input type="text" readonly class="form-control" id="orderDate" value="03/09/2020">
            </div>
          </div>
          <div class="form-group row">
            <label for="orderTime" class="col-lg-4 col-form-label">Order Time</label>
            <div class="col-lg-8">
              <input type="text" readonly  class="form-control" id="orderTime" value="16:59 PM">
            </div>
          </div>
          <div class="form-group row">
            <label for="placedBy" class="col-lg-4 col-form-label">Placed By</label>
            <div class="col-lg-8">
              <input type="text" readonly class="form-control" id="placedBy" value="Eva">
            </div>
          </div>
          <div class="form-group row">
            <label for="status" class="col-lg-4 col-form-label">Status</label>
            <div class="col-lg-8">
              <input type="text" readonly class="form-control" id="status" value="Order has not been reviewed yet">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">OK</button>
        <button id="deleteButton" type="button" class="btn btn-danger" (click)="deleteInfo()">Delete</button>
      </div>
    </div>
  </div>
</div>
