<div class="container">
  <h3 class="text-center">Manage jeans</h3>
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search"
           aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-dark" type="button">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Main type</th>
      <th scope="col">Description</th>
      <th scope="col">Season</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let jean of jeanService.findAll()"
    (click)="selectedJeanDescription = jean.description" [class.active]="jean.description == selectedJeanDescription"></tr>
<!--  FUCKING TEST HEROKU  -->
<!--    <tr data-toggle="modal" data-target="#exampleModal1">-->
<!--      <th scope="row">1</th>-->
<!--      <td>Regular Bryce</td>-->
<!--      <td>Regular Bryce - Strong Blue</td>-->
<!--      <td>Winter</td>-->
<!--    </tr>-->
<!--    <tr data-toggle="modal" data-target="#exampleModal2">-->
<!--      <th scope="row">2</th>-->
<!--      <td>Regular Bryce</td>-->
<!--      <td>Regular Bryce - Authentic Indigo</td>-->
<!--      <td>Autumn</td>-->
<!--    </tr>-->
<!--    <tr data-toggle="modal" data-target="#exampleModal3">-->
<!--      <th scope="row">3</th>-->
<!--      <td>Slim Lassen</td>-->
<!--      <td>Slim Lassen - Pure blue</td>-->
<!--      <td>Summer</td>-->
<!--    </tr>-->
<!--    <tr data-toggle="modal" data-target="#exampleModal5">-->
<!--      <th scope="row">5</th>-->
<!--      <td>Slim Lassen</td>-->
<!--      <td>Slim Lassen - Dip Dry</td>-->
<!--      <td>Spring</td>-->
<!--    </tr>-->
<!--    <tr data-toggle="modal" data-target="#exampleModal4">-->
<!--      <th scope="row">4</th>-->
<!--      <td>Beverly short</td>-->
<!--      <td>Beverly short - Dip Black</td>-->
<!--      <td>Summer</td>-->
<!--    </tr>-->
<!--    <tr data-toggle="modal" data-target="#exampleModal6">-->
<!--      <th scope="row">6</th>-->
<!--      <td>Regular Swan</td>-->
<!--      <td>Regular Swan - Strong blue</td>-->
<!--      <td>Autumn</td>-->
<!--    </tr>-->
    <button class="btn btn-event" data-toggle="modal" data-target="#myModal"(click)="addJean()">Add jean</button>
    </tbody>
  </table>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addJean">Add jean</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product code</th>
            <th scope="col">Description</th>
            <th scope="col">Size</th>
          </tr>
          </thead>
          <tr>
            <th scope="row">id number here</th>
            <td>Production code here</td>
            <td>Description here</td>
            <td>Size here</td>
          </tr>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-danger">Delete changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img class="img" src="assets/images/mudjeans.jpg" alt="Jeans" >
    </div>
    <div class="col-sm-4">
      <img class="img" src="assets/images/mudjeans3.jpg" alt="Logo" >
    </div>
    <div class="col-sm-4">
      <img class="img" src="assets/images/mudjeans2.jpg" alt="Jeans2">
    </div>
  </div>
</div>

<div *ngFor="let index of [1,2,3,4,5,6]" class="modal fade" id="{{'exampleModal'+index}}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit jean</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product code</th>
          <th scope="col">Description</th>
          <th scope="col">Size</th>
        </tr>
        </thead>
        <tr>
          <th scope="row">id number here</th>
          <td>Production code here</td>
          <td>Description here</td>
          <td>Size here</td>
        </tr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-danger">Delete changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

